/*

Color Scheme

blue: #5B89A6
light gold: #F2C84B
dark gold: #D9A23D
brown: #40342A
orange: #BF6545

*/

#body {
  margin: 0;
  font-size: 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: center;
  background-color: #D9A23D;
}

header a {
  position: absolute;
  top: 15px;
  left: 50px;
  text-decoration: none;
  text-shadow: #fff 2px 2px 3px;
  color: #40342A;
  font-size: large;
}

header a:hover {
  color: #5B89A6;
}

img {
  border: 8px solid #f2c84b;
}

figure {
  background-color: #40342a;
}

figcaption {
  text-align: center;
  font-size: x-large;
  color: #f2c84b;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #5b89a6;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50px;
  color: white;
  background-color: #1e1e1e;
}
