/*

Color Scheme

blue: #5B89A6
light gold: #F2C84B
dark gold: #D9A23D
brown: #40342A
orange: #BF6545

*/

#body {
  margin: 0;
}

header {
  background-color: #d9a23d;
  color: black;
  text-align: center;
  font-size: xx-large;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

img {
  border: 8px solid #f2c84b;
}

figure {
  background-color: #40342a;
}

figcaption {
  text-align: center;
  font-size: x-large;
  color: #f2c84b;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #5b89a6;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50px;
  color: white;
  background-color: #1e1e1e;
}
