@import "variables";

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- BODY --------------*/
* {
    font-size: 16px;
    font-family: $fontStyle;
}

header, nav, main, footer {
    padding: 0 2%;
}

/*----------- HEADER --------------*/

header {
    padding: 0 2%;
    padding-top: 1.25rem;
    display: flex;
    
    h1 {color: $headertext; margin: 0; font-weight: $bold; font-size: 2.25rem;}
    h2 {
        color: $greyText; 
        margin: 0; 
        font-weight: $light; 
        font-size: 1rem; 
        letter-spacing: 1rem;
        width: 100%;
    } 
    div {
        border-bottom: 1px solid $greyText;
        width: 100%;
    }
    button {
        width: 48px;
        height: 48px;
        margin: 0;
        align-self: flex-end;
        background: none;
        border: none;
        font-size: 1.5rem;
        text-align: right;
        color: $greyText;
    }
}

/*----------- Nav --------------*/
#pageWrapper {
    position: relative;
    overflow-x: hidden;
}
.moveOver > .content{
    transform: translateX(-200px);
}
.content {transition: transform 500ms ease;}

nav {
    background-color: rgba(244, 244, 244, 0.8);
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    ul li a {
        display: block;
        color: #000;
        margin: 0;
        text-shadow: .5px .5px 2px white;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 1.0);
        padding: .9rem .5rem;
        text-decoration: none;
        text-align: right;
        font-size: .875rem;
        font-weight: $light;
        img {margin-right: .25rem;}
    }
}

/*----------- Main --------------*/

.bannerWrap {
    box-sizing: border-box;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: black;
    section {
        display: grid;
        flex-basis: 98%;
        grid-template-columns: 1fr;
        padding: 1rem 2%;
        color: white;
        h2{color: $goldText; font-size: 1.625rem; margin: 0;}
        
        div:nth-child(1) {
            grid-area: a;
            p#qoute {font-style: italic; font-weight: $medium; font-size: .8125rem; margin: 0;}
        }
        div:nth-child(2) {
            margin-top: 2rem;
            text-align: right; 
            grid-area: b; 
            h2#success {font-size: 2.25rem; margin: 0;}
            p {font-size: 1.25rem; margin: 0; margin-bottom: .5rem;}
            h2 {margin-bottom: .5rem;}
        }
        grid-template-areas: 
        "a"
        "b"
        ;
    }
}

main {
    max-width: 100vw;
    padding: 0 2vw;
    .heroImage {width: 100%; height: auto; margin: 1rem 0; padding: 0;}
    .moreSection {
        h2#more {
            font-size: 2rem;
            font-weight: $medium;
            color: $headertext;
            margin-top: 2rem;
            margin-bottom: -1rem;
        }
        h2 {
            font-size: 1.625rem;
            margin: 0;
            font-weight: $medium;
            color: $headertext;
        }
        p {margin-bottom: 1rem;}
    }
    .aboutOne {
        border-top: 1px solid #a8a8b2;
        border-bottom: 1px solid #a8a8b2;
        background: radial-gradient(ellipse at top, #eeeeee, transparent),
        radial-gradient(ellipse at bottom, #fff, transparent);
        margin: 1rem 0;
        img {
            margin-top: 1rem;
            width: 100%;
            height: auto;
        }
        display: grid;
        flex-basis: 98%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1%;
        div:nth-child(4) {
            margin-bottom: 4rem;
        }
    }

    .aboutTwo {
        background: radial-gradient(ellipse at top, #eeeeee, transparent),
        radial-gradient(ellipse at bottom, #fff, transparent);
        margin: 1rem 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        img {width: 100%; height: auto;}
        #divA {grid-area: divA;}
        #divB {grid-area: divB;}
        figure {
            position: relative;
            margin: 0;
            grid-area: fig;
            width: 100%;
            img {width: 100%; height: auto; margin: 0;}
            figcaption {
                position: relative;
                top: -5rem;
                text-align: center;
                a {
                    font-size: 1.375rem;
                    font-weight: $medium;
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    color: white;
                    background-color: $headertext;
                    padding: .5rem 2%;
                    border-radius: 15px;
                }
                a:hover {
                    background-color: darken($headertext, 15%);
                }
                p {
                    font-size: .8125rem;
                    font-weight: $medium;
                    color: $greyText;
                }
            }
        }
        #divC {grid-area: divC;}
        grid-template-areas: 
        "divA"
        "divB"
        "fig"
        "divC"
        ;
        
    }
}

/*----------- footer --------------*/

.sponsors {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    img {margin-top: 2rem;}
    justify-content: space-evenly;
    align-items: center;
}

.footerWrap {
    width: 100vw;
    background: linear-gradient(#0480b1, #013f63);
    padding: 1rem 0;
}

footer {
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: darken($color: #fff, $amount: 10%);
        text-decoration: underline;
    }
}
  

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }