header,
nav,
main,
footer{
    max-width: 1200px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */

nav {
    button {
        display: none;
    }

    ul,
    ul.open {
        display: flex;
        justify-content: left;
        border: none;

    }

    ul li {
        border: none;
    }

    ul li a {
        border: none;
        padding: .7rem 2rem;
        font-size: .8rem;
    }
}