/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* BODY  */
body {
    font-family: $defaultFont;
    font-size: 16px;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* HEADER  */

header {
    padding: 0 2%;
    background-color: $primaryColor;
    color: $textColor2;
    display: flex;
    align-items: center;

    .logo {
        margin: 1rem 1rem 1rem 0;
    }

    h1 {
        font-size: 2rem;
        font-weight: $boldWeight;
        letter-spacing: .1rem;
        margin-bottom: .5rem;
    }

    h2 {
        font-size: 1rem;
        font-weight: $lightWeight
    }
}

// end header

/* NAVIGATION */

nav {
    background-color: darken($primaryColor, 2.5%);

    button {
        padding: .5rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: rgba($color: #fff, $alpha: 0.9);
    }

    button span:nth-child(1) {display: block;}
    button span:nth-child(2) {display: none;}

    button.open span:nth-child(1) {display: none;}
    button.open span:nth-child(2) {display: block;}
    

    ul {
        display: none;
        border-top: solid 1px rgba($color: #fff, $alpha: 0.3);
    }

    ul.open {
        display: block;
    }

    ul li {
        border-bottom: solid 1px rgba($color: #fff, $alpha: 0.3);

        a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: .9rem 2vw;
        }

        a:hover {
            background-color: darken($primaryColor, 6.5%);
            color: white;
        }
    }

    ul li.active a {
        background-color: darken($primaryColor, 7.5%);
    }

}

/* MAIN  */

main {
    
    picture.hero {
        display: block;
        width: 100%;
    }

    picture.hero img, picture.founder img {width: 100%;}

    h2 {
        margin: 1rem 0 .25rem 0;
        font-size: 1.5rem;
        color: $primaryColor;
        padding: 0 2%;
    }
    p {
        padding: 0 2%;
    }
    .founder {
        display: block;
        float: right;
        width: 46%;
        margin: 0 2% 1rem 2%;
    }
    div {
        margin-bottom: 1rem;
    }
    
} /* End of Main */

/* FOOTER  */

footer {
    background-color: $primaryColor;
    font-size: .85rem;
    padding: 1rem 0;
    color: $textColor2;
    text-align: center;

    a {
        color: #eee;
    }

    a:hover {
        color: #00ffff;
    }
}




.clearfix:after {
    content: "";
    display: table;
    clear: both;
}