@import "variables";

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $font;
}

main {
    text-align: center;
    padding: 0 2vw;
    h1 {
        font-weight: $bold;
        font-size: 3rem;
        color: $red;
        margin-bottom: 0;
    }
    h2 {font-size: 2rem; font-weight: $bold;}
    
    section {
        display: grid;
        gap: 1rem;
        margin-bottom: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        color: #fff;
        div {
            span {
                width: 100%;
                background-color: darken($red, 10%);
                text-align: center;
                padding: .75rem;
                font-weight: $bold;
                font-size: 1.25rem;
            }
            p {font-weight: $bold; font-size: 2rem; margin-bottom: 0; color: darken($blue, 15%);}
            display: flex;
            flex-direction: column;
            background-color: #afb0b1;
            align-items: center;
        }
    }
}

