header,
nav,
main,
footer {
        max-width: 64rem;
        margin: auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header{padding: 1rem 0 0 2vw;}

div.nav {
        
        button {
                display: none;
        }

        ul,
        ul.open {
                position: static;
                display: flex;
                justify-content: right;
                align-items: flex-end;
                border: none;


        }

        ul li {
                border: none;
        }

        ul li a {
                border: none;
                padding: .7rem 2rem;
                font-size: .8rem;
        }
}


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
        #bandMembers {
                display: flex;
                flex-direction: row;
        }

        #memberCard {
                h2 {
                        font-size: 1.25rem;
                }

                p {
                        font-weight: 300;
                }

                width: 24%;
                padding: 1rem;
                margin: .5%;
        }
}


/*----------- FOOTER --------------*/