$defaultFont: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;
$cbr: 10px;

/* Color Theme Swatches in Hex */
 $primaryColor: purple;
 $secondaryColor: #B4AD64;
 $thirdColor: #80987C;
 $textColor: #000;
 $textColor2: #fff;

 
