* {
  margin: 0;
  padding: 0;
  color: #f4f4f4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  letter-spacing: .15rem;
}
a {
  text-decoration: none;
}
body {
  background-color: #161616;
}

span {
  color: #a6c8ff;
}

@media only screen and (min-width: 801px) {
  * {
    font-size: 100%;
  }

  .hero-text {
    font-size: 4rem;
    text-shadow: 2px 2px 6px black;
  }

  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 1.5rem;
    height: 10vh;
    color: white;
  }

  #contact div {
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #contact-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 2rem;
  }

  #contact-pitch {
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 2rem 0 0 0;
    text-align: center;
    justify-items: center;
  }

  #contact-links a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: transform 0.3s ease-out;
  }

  #contact h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  #contact p {
    font-size: 1rem;
    font-style: italic;
  }

  #navbar {
    background-color: #262626;
  }

  #hamburgerBtn {display: none;}

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 1000;
  }
  
  #navbar img {
    width: 50px;
    height: auto;
    margin-left: 1rem;
  }
  
  .nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 1rem;
  }
  
  .nav-list a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .nav-list a:hover {
    background-color: #582172;
  }

  nav button {display: none;}
}

/* Start of Mobile Style */

@media only screen and (max-width: 800px) {
  * {
    font-size: 50%;
  }

  .hero-text h1, p {
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px black;
  }

  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 1.5rem;
    color: white;
  }

  #projects {
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  figure {
    height: 30rem;
    width: 30rem;
  }

  figure img {
    height: 100%;
    width: auto;
  }

  #contact div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #contact-links {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  #contact-links a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 1rem 0;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
  }

  #contact h2 {
    font-size: 4rem;
    padding: 2rem;
  }

  #contact p {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1rem;
  }

  #navbar {
    background-color: #262626;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 1000;
  }
  
  #navbar img {
    width: 50px;
    height: auto;
    margin-left: 1rem;
    padding: 1rem 0;
  }
  
  #hamburgerBtn {
    font-size: 3rem;
    display: block;
  }

  .nav-list {
    background-color: rgba(0, 0, 0, .75);
    /*transform: translateX(200px);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    list-style-type: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .nav-list a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    margin: 0 4rem 1rem 0;
    font-size: 5rem;
  }

  #closeBtn {
    font-size: 5rem;
    color: white;
    position: absolute;
    top: 0;
    right: 1rem;
  }
  
  .hidden {
    display: none;
  }
  
  
}

/* End of Mobile Style */



button {
  width: 50px;
  height: 48px;
  margin: 0;
  margin-right: 1rem;
  align-self: start;
  background: none;
  border: none;
  font-size: 1.75rem;
  text-align: right;
  color: #fff;
}

/* This is my hero image and parallax css */

.parallax {
    background-image: url('../images/trees.png');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.body {
  font-family: "Gemunu Libre", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

#projects h1, #studies h1 {
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
  background-color: #373737;
}

.projects-grid {
  max-width: 1440px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.project-tile {
  position: relative;
  margin: 0;
  height: 30rem;
  width: 30rem;
}

figcaption {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 10rem 1.5rem 0 1.5rem;
  width: 30rem;
  height: 30rem;
  background: rgba(0, 0, 0, .7);
  color: #fffffe;
  font-size: 4rem;
}

figure:hover figcaption {
  display: block;
}

#contact h2 {
  margin-top: 2rem;
}

#contact p {
  margin-bottom: 2rem;
}


#contact-links a > i {
  padding-right: 0.5rem;
}

#contact-links a {
  color: #0f62fe;
}

#contact-links a:hover {
  transform: translateY(-6px);
  color: #a6c8ff;
}


