* {
  margin: 0;
  padding: 0;
  color: #f4f4f4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  letter-spacing: .15rem;
}
a {
  text-decoration: none;
}
body {
  background-color: #161616;
}
span {
  color: #a6c8ff;
}

@media only screen and (min-width: 801px) {
  * {
    font-size: 100%;
  }

  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 1.5rem;
    height: 10vh;
    color: white;
  }

  #contact div {
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #contact-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 2rem;
  }

  #contact-pitch {
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 2rem 0 0 0;
    text-align: center;
    justify-items: center;
  }

  #contact-links a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: transform 0.3s ease-out;
  }

  #contact h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  #contact p {
    font-size: 1rem;
    font-style: italic;
  }

  #navbar {
    background-color: #262626;
  }

}

@media only screen and (max-width: 800px) {
  * {
    font-size: 60%;
  }

  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 1.5rem;
    color: white;
  }

  #projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  figure {
    height: 30rem;
    width: 30rem;
  }

  figure img {
    height: 100%;
    width: auto;
  }

  #contact div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #contact-links {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  #contact-links a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 1rem 0;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
  }

  #contact h2 {
    font-size: 4rem;
    padding: 2rem;
  }

  #contact p {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1rem;
  }

  #navbar {
    background-color: #262626;
  }

  #comp {
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.body {
  font-family: "Gemunu Libre", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 1000;
}

#navbar img {
  width: 50px;
  height: auto;
  margin-left: 1rem;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 1rem;
}

.nav-list a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-size: xx-large;
}
.nav-list a:hover {
  background-color: #582172;
}

#welcome-section {
  background: url(/images/trees.png), rgba(0, 0, 0, .2);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

#welcome-section background-image {
  height: 2304;
  width: auto;
}

#welcome-section h1 {
  font-size: 4rem;
}

#projects h1, #studies h1 {
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
  background-color: #373737;
}

.projects-grid {
  max-width: 1440px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.project-tile {
  position: relative;
  margin: 0;
  height: 30rem;
  width: 30rem;
}

.project-tile figcaption {
  display: none;
  position: absolute;
  transform: translateY(-30.2rem);
  text-align: center;
  width: 30rem;
  height: 30rem;
  background: rgba(0, 0, 0, .5);
  color: #fffffe;
  font-size: 4rem;
  padding: 1.5rem;
}

.project-tile figcaption:hover {
  display: none;
}

#contact h2 {
  margin-top: 2rem;
}

#contact p {
  margin-bottom: 2rem;
}


#contact-links a > i {
  padding-right: 0.5rem;
}

#contact-links a {
  color: #0f62fe;
}

#contact-links a:hover {
  transform: translateY(-6px);
  color: #a6c8ff;
}


