* {
  margin: 0;
  padding: 0;
  color: aliceblue;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}
a {
  text-decoration: none;
}

@media only screen and (min-width:801px) {
  * {
    font-size: 100%;
  }

  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    font-size:1.5rem;
    height: 10vh;
    color: white;
  }

  #projects {
    background-color: #0A1C3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
  }

  #contact div {
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #283537;
  }

  #contact-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 2rem;
  }

  #contact-pitch {
    display: flex;
    flex-direction: column;
    height: 45vh;
    padding: 2rem 0 0 0;
    text-align: center;
    justify-items: center;
  }

  #contact-links a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: transform 0.3s ease-out;
  }

  #contact h2 {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
  
  #contact p {
    font-size: 1.75rem;
    font-style: italic;
  }

  #navbar {
    background: linear-gradient(45deg, #746e6e 10rem, #F031AA 10rem);
  }
}

@media only screen and (max-width:800px) {
  * {
    font-size: 60%;
  }

  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    height: 10vh;
    font-size: 1.5rem;
    color: white;
  }

  #projects {
    background-color: #0A1C3F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  figure {
    height: 20rem;
    width: 20rem;
  }

  figure img {
    height: 100%;
    width: auto;
  }

  #contact {
    background-color: #283537;
  }

  #contact div {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #283537;
  }

  #contact-links {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  #contact-links a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 1rem 0;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
  }

  #contact h2 {
    font-size: 4rem;
    padding: 2rem;
  }
  
  #contact p {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1rem;
  }

  #navbar {
    background: linear-gradient(90deg, #746e6e 7rem, #F031AA 7rem);
  }
}

.body {
  font-family: "Gemunu Libre", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
}

#navbar img {
  width: 50px;
  height: auto;
  margin-left: 1rem;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 1rem;
}

.nav-list a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-size: xx-large;
}
.nav-list a:hover {
  background-color:#582172;
}

#welcome-section {
  background-color: #4715A3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

#welcome-section h1 {
  font-size: 4rem;
}

#projects h1 {
  font-size: 4rem;
  padding: 2rem;
}

.projects-grid {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.project-tile {
  margin: 2rem 1rem;
  max-height: 320px;
  max-width: 320px;
}

.project-tile figcaption{
  text-align: center;
  background: #F1D556;
  color: #0A1C3F;
  padding: .5rem;
}

figure figcaption {
  font-size: 1.25rem;
}


#contact-links a > i {
  padding-right: .5rem;
}

#contact-links a:hover {
  transform: translateY(-6px);
}



