* {
  margin: 0;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #17191d;
  display: flex;
  flex-direction: column;
  
}

header {
    background-color: #139ded;
    color: #fcfffe;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

#hero {
    margin: 0 auto;
    background-color: white;
    width: 90vw;
    height: 60vh;
    padding: 1rem 0 3rem 0;
    display: flex;
    justify-content: center;
}

.spacer {
    width: 33%;
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 2rem;
}

#bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    margin: 3rem 0;
}

#bioPic {
    width: auto;
    height: 18rem;
    border-radius: 100%;
}

#bioText {
    max-width: 50vw;
}

#bioText h2 {
    margin-bottom: .5rem;
    font-size: 2rem;
}

#bioText p {
    font-size: 1rem;
    line-height: 1.75rem;
}

#bioPic:hover {
    box-shadow: none;
    cursor: default;
}

#mainDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 1rem;
}

figcaption {
  font-size: 1rem;
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  justify-content: center;
}

figure img {
  max-width: 300px;
  height: auto;
}

figure img:hover {
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #24262b;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #modalTitle {
      margin-bottom: .75rem;
  }

  #modalImage {
      margin-bottom: .75rem;
  }

  #modalInfo {
      margin-bottom: .5rem;
  }

  #tomatoScore {
      display: flex;
  }

  #tomato {
      margin-left: 4px;
  }

  #modalInside {
      display: flex;
      justify-content: space-evenly;
  }

  #videoDescription {
      max-width: 560px;
  }

  #synopsis {
      margin: .75rem 0 .25rem 0;
  }