$defaultFont: 'Roboto', sans-serif;

$boldWeight: 700;
$normalWeight: 400;

/* Color Theme Swatches in Hex */
 $primaryColor: #960000;
 $secondaryColor: #1a3f5f;
 $colorHeader: #005c81;
 $textColor: #080b0d;
 $textColor2: #F2F2F2;

