nav, main, footer {
    max-width: 82rem;
    margin: 0 auto;
}


#header {
    grid-template-columns: auto 30%;
    h1, h2 {margin-top: 2rem;}
    h2 {text-align: right;}

}
.section-one {grid-template-columns: 1fr 1fr;}
.images-one {grid-template-columns: 1fr 1fr 1fr;}
.images-two {
    grid-template-columns: 1fr 1fr;
    :nth-child(1) {position: absolute; top: -6rem; left: 2vw;}
}