header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */

nav {
    button {
        display: none;
    }

    ul, ul.open {
        display: flex;
        justify-content: right;
        border: none;
        
    }
    ul li {
        border: none;
    }

    ul li a {
        border: none;
        padding: .7rem 2rem;
        font-size: .8rem;
    }
}

header {
    background-image: url("/dgm2740/national-park/images/hero-medium.jpeg");
    height: 300px;
    background-size: cover;
    background-position: center bottom;
}

main {
    .card {
        flex-basis: 31%;
    }
}