/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
}

.topbar {
    background-color: #000;
    color: white;
    padding: .75rem 2vw;
    font-size: 1rem;
    font-weight: $normalWeight;
}


/* HEADER  */

header {
    background-image: url("/dgm2740/national-park/images/hero-small.jpeg");
    height: 175px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1 {
        background-color: rgba(0,0,0,0.7);
        padding: 1rem 2vw;
        font-size: 1.4rem;
        font-weight: $normalWeight;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */

#navWrapper {background-color: lighten($colorHeader, 10%);}
nav {
    button {
        padding: .5rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: rgba($color: #fff, $alpha: 0.9);
    }

    ul {
        display: none;
        border-top: solid 1px rgba($color: #fff, $alpha: 0.1);
    }

    ul.open {
        display: block;
    }

    ul li {
        border-bottom: solid 1px rgba($color: #fff, $alpha: 0.1);
    }

    Ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: .9rem 2vw;
    }

    ul li a:hover {
        background-color: darken($colorHeader, 2.5%);
        color: white;
    }

    ul li.active a {
        background-color: darken($colorHeader, 7.5%);
    }

}

/* MAIN  */

main {
padding: 1rem 2vw;
    h1 {
        font-size: 2rem;
        color: darken($colorHeader, 20%);
    }

    .card-deck {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        flex-basis: 100%;
        border: 1px solid rgb(241, 239, 239);
        background-color: rgb(249, 249, 249);
        box-shadow: .5px .5px 4px rgb(221, 221, 221);
        border-radius: $cbr;
        margin: 1rem 1%;
        text-align: center;
        section {
            background-color: $secondaryColor;
            color: #fff;
            padding: 1rem 0;
            border-top-left-radius: $cbr - 1;
            border-top-right-radius: $cbr - 1;
        }
        img {
            padding: 1rem;
            width: 33%;
            height: auto;
        }
        p {padding: 1rem 2vw;}
        a {
            display: block;
            text-decoration: none;
            background-color: #ffb01e;
            color: white;
            padding: 1rem 0;
            margin: 1rem 4%;
            border-radius: $cbr;
        }
        a:hover {
            background-color: darken(#ffb01e, 10%);
        }
    }

}


/* FOOTER  */
#footerWrapper {background-color: $colorHeader; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: $textColor2;
	text-align: center;
	a{color: #eee;}
    a:hover {
        color: #00ffff;
    }
}
