$menuColor: #265b7d;

$defaultFont: 'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$cbr: 10px;

/* Color Theme Swatches in Hex */
 $primaryColor: #ffb01e;
 $secondaryColor: #89A6C8;
 $colorHeader: #de6616;
 $textColor: #080b0d;
 $textColor2: #F2F2F2;

