


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

main {
    div#hotelsWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

/*----------- FOOTER --------------*/
    
