@import "variables";

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $font;
}


/*----------- HEADER --------------*/
header {
    width: 100vw;
    text-align: center;
    padding: .5rem 2%;
    background-color: lighten($purple, 5%);
    color: #fff;
}
header h1 {margin: 0; font-size: 1.25rem;}

/*----------- NAVIGATION --------------*/
nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 999;
    background-color: $navColor;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
nav ul li {
    flex-basis: 33.33%;
    text-align: center;
    color: #eee;
    p {margin: 0;}
}
nav ul li a {
    display: block;
    color: #eee;
    text-decoration: none;
    ion-icon {font-size: 2rem;}
    font-size: 1rem;
    text-align: center;
    padding: .5rem;
}

nav ul li a:hover {
    background-color: lighten($navColor, 10%);
    color: #fff;
}
nav ul li.active a {
    background-color: lighten($active, 10%);
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    h1 {color: $purple}
    padding: 0 2%;
    min-height: 10rem;
    div#hotelsWrapper {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 6rem;
    }
    figure {
        width: 100%;
        margin: 0;
        position: relative;
        img {width: 100%; height: auto;}
    }
    figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: .4);
        color: #fff;
        padding: .5rem 2%;
    }
    section {
        margin-top: 1rem;
        background-color: #282828;
        color: white;
    }
    section div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 0;
    }
    div span {padding: 0 .5rem;}
    div span i {
        float: left;
        font-size: 2rem;
        color: lighten($purple, 50%);
    }
    div span p {
        padding-top: .5rem;
        padding-left: 2rem;
        margin: 0;
    }
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
