* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #afd4e8;
}

header img {
  margin: 1rem;
}

nav {
  background-color: #ED9A9F;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: .5rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.25rem;
  color: white;
  padding: 0 1rem;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

nav ul a:hover {
  color: #fec30a;
}

main {
  background-color: #fceec8;
}

.pokeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scene {
  width: 214px;
  height: 300px;
  margin: 2vw;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

figure {
  justify-content: center;
  border-radius: 10px;
}

figure img {
  width: auto;
  height: 110px;
  margin: 15px 0 0 50px;
}

.cardFace {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front h2 {
  text-transform: capitalize;
  text-align: left;
  margin-top: 0.75rem;
  font-size: 0.75rem;
  padding-left: 3.5rem;
}

.back {
  justify-items: center;
  align-items: center;
}

.back h4 {
  text-align: center;
}

.back ul,
h4 {
  list-style-type: square;
  background-color: #d1e0e699;
}
/* url("../images/cards/poke-card.png"), */
.front {
  background-image: url("../images/forest-bg.jpeg");
}

.back {
  background-image: url("../images/card-back.jpeg");
  transform: rotateY(180deg);
}

main,
footer {
  max-width: 90vw;
  margin: 0 auto;
}
