header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */

nav ul li a {
    padding: .7rem 2rem;
    font-size: .8rem;
}

#mainContent {
    
    #mainImage {
        width: 35%;
        float: right;
    }

}