/* NAVIGATION STUFF GOES HERE  */

nav {
    ul {
        display: flex;
        
    }
    ul li a {
        border: none;
    }
}

#mainContent {
    
    #mainImage {
        width: 52%;
        float: right;
    }

}