/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
}


/* HEADER  */
#headerWrapper {background-color: lighten($colorHeader, 60%);}
header {
    display: flex;
    align-items: flex-end;
	padding: .625rem 2vw;
    img {
        margin-right: 1rem;
        width: 100px;
        height: auto;
    }
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
    h2 {color: $textColor; display: none;}
} // end header

/* NAVIGATION STUFF GOES HERE  */

#navWrapper {background-color: lighten($colorHeader, 10%);}
nav {
    Ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: .9rem 2vw;
        border-top: solid 1px rgba($color: #000000, $alpha: .2);
    }

    ul li a:hover {
        background-color: rgb(213, 213, 213);
        color: $textColor;
    }

    ul li.active a {
        background-color: lighten($colorHeader, 15%);
    }

}

/* MAIN  */
main {
 	p {padding: .5rem 2vw; color: #333; line-height: 125%;}
	h1 {
        padding: 1rem 2vw .5rem 2vw; 
        font-size: 1.5rem; 
        color: $secondaryColor;
        font-weight: $normalWeight
    }
    .hero {width: 100%;}
    .hero img {
        width: 100%;
        height: auto;
    }
    #mainContent {
        margin-bottom: 2rem;
            img {
            width: 100%;
            height: auto; 
            padding: 0 2vw;
            }
    }
} 



/* FOOTER  */
#footerWrapper {background-color: $colorHeader; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: $textColor2;
	text-align: center;
	a{color: #eee;}
    a:hover {
        color: #00ffff;
    }
}
