$menuColor: #265b7d;

$defaultFont: 'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;

/* Color Theme Swatches in Hex */
 $primaryColor: #02000D;
 $secondaryColor: #011526;
 $colorHeader: #154659;
 $textColor: #080b0d;
 $textColor2: #F2F2F2;

