* {
  margin: 0;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: #D9A23D;
  padding: 1rem 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: black;
  color: white;
}

main a {
  text-decoration: none;
}

a:visited {
  color: #F2C84B;
}

a:hover {
  color: #5B89A6;
}

.shipViewer {
  padding-left: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1e1e1e;
  height: 50px;
}
