* {
    margin: 0;
    color: #fff;
}

@media only screen and (max-width: 800px) {
    nav {
      background-color: #ED9A9F;
      display: flex;
      align-content: center;
      justify-content: center;
      padding: .5rem;
    }
    
    nav ul {
      text-align: center;
      list-style-type: none;
    }
    
    nav ul a {
      text-decoration: none;
      font-weight: 700;
      font-size: 1.25rem;
      color: white;
  
    }
  }
  
  @media only screen and (min-width: 801px) {
    nav {
      background-color: #ED9A9F;
      display: flex;
      align-content: center;
      justify-content: flex-start;
      padding: .5rem;
    }
    
    nav ul {
      display: flex;
      list-style-type: none;
    }
    
    nav ul a {
      text-decoration: none;
      font-weight: 700;
      font-size: 1.25rem;
      color: white;
      padding: 0 1rem;
      border-right: 1px solid white;
    }
  }

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    background-image: url(../images/star-bg.jpeg);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-color: #131313;
    height: 50px;
    color: white;
}

figure img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    outline: 2px solid #F2C84B;
    outline-offset: .5rem;
}

figure {
    padding: 1rem;
}

figcaption {
    text-align: center;
    font-size: x-large;
    padding-top: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1e1e1e;
    padding: 1rem;
}
