* {
    margin: 0;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    background-image: url(../images/star-bg.jpeg);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-color: #d9a23d;
    height: 50px;
    color: black;
}

figure img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    outline: 2px solid #F2C84B;
    outline-offset: .5rem;
}

figure {
    padding: 1rem;
}

figcaption {
    text-align: center;
    font-size: x-large;
    padding-top: 1rem;
}