* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    background-color: #BF6545;
}

header a {
    position: absolute;
    top: 15px;
    left: 50px;
    text-decoration: none;
    text-shadow: black 2px 2px 3px;
    color: #5B89A6;
    font-size: large;
}

header a:hover {
    color: #f2c84b;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/star-bg.jpeg');
    padding: 1rem;
}

button {
    text-align: center;
    font-size: medium;
    background-color: #5B89A6;
    border-color: white;
    border-radius: 10px;
    margin: .5rem 2rem;
}

button:hover {
    background-color: #f2c84b;
}

#charView {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-image: url("../images/star-bg.jpeg");
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

#charView background-image {
    height: 100%;
    width: 100%;
}

figure {
    /*display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;*/
    width: 300px;
    height: 400px;
    background-color: #5B89A6;
    margin: 15px;
    padding-bottom: .5rem;
    border-radius: 15px;
}

figure img {
    width: 225px;
    margin: 2rem 2rem 0rem 2rem;
}

figcaption {
    width: 225px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #f2c84b;
    margin: 0 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1e1e1e;
    padding: 1rem;
}
