header, nav, main, footer,div#hamburger {
        
}


div#pageWrapper {
        grid-template-areas: 
        "header"
        "navigation"
        "content"
        "footer"
        ;
        grid-template-columns: auto;
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li {
        flex-basis: auto;
        a {padding: .6rem 1rem;}
}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
