
div#pageWrapper {
    grid-template-areas: 
    "header header"
    "navigation content"
    "footer footer"
    ;
    grid-template-columns: 150px auto;
}



/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    a.myjump {display: none;}
    nav {height: auto;}
    


/*----------- MAIN --------------*/

section {
    #imageA {grid-area: picA;}
    #textA {grid-area: textA;}
    #imageB {grid-area: picB;}
    #textB {grid-area: textB;}
    #imageC {grid-area: picC;}
    #textC {grid-area: textC;}
   display: grid;
   grid-template-areas:
   "textA textA picA"
   "picB textB textB"
   "textC textC picC"
   ;
   img {padding: 0 1rem; margin: auto 0;}
   row-gap: 3rem;
}


/*----------- FOOTER --------------*/
    
