@import "variables";

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

div#pageWrapper {
    display: grid;
    grid-template-areas: 
    "hamburger"
    "header"
    "content"
    "footer"
    "navigation"
    ;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $font;
    h1, h2, a {font-weight: $bold;}
    p {font-weight: $regular;}
    line-height: 1.6;
}


/*----------- HEADER --------------*/
header {
    grid-area: header;
    padding: .5rem 2%;
    background-color: rgb(25, 25, 25);
    h1 {margin: 0;}
    h2 {margin: 0; font-weight: normal;}
}



/*----------- NAVIGATION --------------*/
a.myjump{
    display: block;
    width: 60px;
    color: rgba(0,0,0,0.7);
    font-size: 1.7rem;
    padding: .4rem;
    text-decoration: none;
    padding-left: 2%;
}

nav {
    height: 100vh;
    grid-area: navigation;
    background-color: #ddb1dd88;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    flex-basis: 100%;
    
}
nav ul li a {
    display: block;
    background-color: #ddb1dd88;
    color: $grey;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 1.25rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: rgba(255,255,255,0.4);
    color: #000;
}
nav ul li.active a {
    background-color: darken($pink, 15%);
    color: $grey;
}


/*----------- HAMBURGER --------------*/
div#hamburger {
    grid-area: hamburger;
    background-color: #ddb1dd88; 
}


/*----------- MAIN --------------*/
main {
    grid-area: content;
    padding: 0 2%;
    min-height: 10rem;
    h1 {margin: 2rem 0; padding: 0; color: darken($pink, 25%);}
    h2 {margin-bottom: 0;}
    p {margin: 0; padding: .5rem 0;}
    img {max-width: 100%; height: auto;}
}


/*----------- FOOTER --------------*/
footer {
    grid-area: footer;
    background-color: $grey;
    color: #fff;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}