@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-blue: #1572a1;
  --main-green: #16843b;
  --main-grey: #f2f2f2;
  --main-red: #e74c3c;
  --main-white: #fff;
  --sub-blue: #86c6f4;
  --sub-grey: #ccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--main-green);
}

button {
  height: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  background: var(--main-blue);
  color: var(--main-white);
  cursor: pointer;
}

.wrapper {
  margin: 120px auto;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  background: var(--main-white);
  padding: 25px;
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
}

.wrapper .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.inputField input {
  width: 85%;
  height: 100%;
  border: 1px solid var(--sub-grey);
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

.inputField button {
  width: 45px;
  margin-left: 10px;
  font-size: 22px;
}

.wrapper .todoList {
  max-height: 250px;
  overflow-y: scroll;
}

.todoList::-webkit-scrollbar {
  width: 0;
}
.todoList li {
  display: flex;
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: var(--main-grey);
  margin-bottom: 8px;
  border-radius: 3px;
  padding-left: 15px;
  cursor: default;
  overflow: hidden;
}

.todoList li p {
  width: 100%;
}

.done {
  text-decoration: line-through;
}

.todoList li span {
  position: absolute;
  right: 0;
  width: 45px;
  z-index: 1;
  color: var(--main-white);
  text-align: center;
  background: red;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todoList li span.editBtn {
  position: absolute;
  right: 45px;
  width: 45px;
  color: var(--main-white);
  text-align: center;
  background: gold;

  cursor: pointer;
  transition: all 0.3s ease;
}

.todoList li span.completeBtn {
  background: var(--main-blue);
  position: absolute;
  right: -90px;
}


.wrapper .footer {
  /*   width: 100%; */
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.footer button {
  font-size: 16px;
  padding: 6px 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.modal-content input {
  width: 100%;
  margin-bottom: 1rem;
}

.modalDiv {
  display: flex;
  justify-content: space-between;
}

.modalDiv button {
  width: 45%;
  height: 2rem;
  font-size: 1rem;
  color: white;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.update:hover,
.close:hover,
.close:focus {
  color: white;
  background-color: #145d82;
  text-decoration: none;
  cursor: pointer;
}