header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
#hamburgerBtn {display: none;}

nav {
        background-color: $pink;
        position: static;
        transform: translateX(0);
        width: auto;
        div {display: none;}
        ul {
                display: flex;
                margin-left: 2%;
                border-left: 1px solid #fff;
        }
        ul li a {
                color: #fff;
                text-shadow: none;
                border: none;
                border-right: 1px solid #fff;
        }
}


/*----------- MAIN --------------*/
form label.sbs {
        padding: .4rem 0;
}

/*----------- FOOTER --------------*/
    
