* {
    font-size: 16px;
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
}

@media only screen and (max-width: 800px) {

    header h1 {
        font-size: 2rem;
        margin: 0;
    }
    
    button {
        background-color: #ffffff;
        border-radius: 5px;
        color: black;
        height: 44px;
        width: 85vw;
        font-size: .75rem;
        text-align: center;
        font-weight: 700;
    }

    button:active {
        transition: 1s ease-out;
        background-color: #4b0d80;
        color: white;
    }
    
    header {
        text-align: center;
        justify-items: center;
        background-color: black;
        height: 50px;
        padding-top: 1vh;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0 2vw;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #252526;
        margin: 0;
    }
}


@media only screen and (min-width: 801px) {
    header h1 {
        font-size: 2.5rem;
        margin: 0;
    }
    
    button {
        background-color: #ffffff;
        border: 1px solid white;
        border-radius: 5px;
        color: black;
        height: 3rem;
        width: 7.5rem;
        font-size: .75rem;
        text-align: center;
        font-weight: 700;
    }
    
    button:hover {
        background-color: #4b0d80;
        color: #fff;
    }
    
    header {
        text-align: center;
        background-color: black;
        height: 50px;
        padding: 0;
    }
    
    header a {
        position: absolute;
        top: 15px;
        left: 50px;
        text-decoration: none;
        text-shadow: #4b0d80 2px 2px;
        color: #fff;
        font-size: 1rem;
    }
    
    header a:hover {
        color: #f2c84b;
    }
    
    nav {
        padding: 1rem;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #252526;
        margin: 0;
    }
}

.seniority {
    padding: 1rem;
}

.weasels {
    padding: 1rem;
    background-color: #4b0d80;
    box-shadow: 0px 0px 4px 1px white;
}





#mainHeader {
    padding: 1rem;
    font-size: 2rem;
}

.senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0rem 1rem;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 152px;
    margin: 1rem;
    box-shadow: 2px 2px 10px white;
}

figure img {
    height: 120px;
    width: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1e1e1e;
    padding: 1rem;
}

figcaption {
    height: 2rem;
    width: 100%;
    font-size: .75rem;
    text-align: center;
    background-color: black;
}