* {
    
    box-sizing: border-box;
    color: white;
}
header h1 {
    margin: 0;
}

body {
    margin: 0;
}

button {
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 2px;
    color: black;
}

header {
    text-align: center;
    background-color: black;
    height: 50px;
    padding: 0;
}

nav {
    padding: 1rem;
}

.seniority {
    padding: 1rem;
}

.weasels {
    padding: 1rem;
    background-color: #4b0d80;
    box-shadow: 0px 0px 4px 1px white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252526;
    padding-top: 3rem;
    margin: 0;
}

#r:hover {
    background-color: red;
}

#d:hover {
    background-color: blue;
}

#mainHeader {
    padding: 1rem;
}

.senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0rem 1rem;
}

figure {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    margin: 1rem;
    box-shadow: 2px 2px 10px white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1e1e1e;
    padding: 1rem;
}

figcaption {
    height: 25px;
    font-size: medium;
    text-align: center;
    background-color: black;
}